@model IEnumerable<CompanyASP.Models.EmployeeView>

@{
    ViewData["Title"] = "ListEmployee";
}

<h1>ListEmployee</h1>

<p>
    <a asp-action="AddEmployee">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SurName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patronymic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocSeries)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                Age
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SurName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Patronymic)
                </td>
                <td>
                    @item.DataOfBirth.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocSeries)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>

                @if (DateTime.Now.Year - item.DataOfBirth.Year < 0)
                {
                    <td>None</td>
                }
                else if (DateTime.Now.Month > item.DataOfBirth.Month)
                {
                    <td>@(DateTime.Now.Year - item.DataOfBirth.Year)</td>
                }
                else 
                {
                    <td>@(DateTime.Now.Year - item.DataOfBirth.Year+1)</td>
                }


                <td>
                    <a asp-action="EditEmployee" asp-route-id="@item.Id">Edit</a> |                   
                    <a asp-action="DeleteEmployee" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
